version: '3.8'
services:
  backend:
    image: mafia_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mafia_backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/auth_db
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  frontend:
    image: mafia_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}  # <--- MUST MATCH THIS EXACTLY
    container_name: mafia_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - /app/node_modules
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongo-db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=auth_db
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: